<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="G733_Dolby_Atmos_companion.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <G733_Dolby_Atmos_companion.Properties.Settings>
            <setting name="sidetone" serializeAs="String">
                <value>70</value>
            </setting>
            <setting name="light_duration" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="light_brightness" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="light_mode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="light_side" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="color_R" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="color_G" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="color_B" serializeAs="String">
                <value>0</value>
            </setting>
        </G733_Dolby_Atmos_companion.Properties.Settings>
    </userSettings>
</configuration>